/*Main*/
.sections-main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-sections{
  width: 350px;
  height: 350px;
}
.vision{
  position: relative;
  bottom: 10px;
}
/*news*/
.news-article img{
  width: 500px;
}

/*Footer*/
footer{
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-info{
  flex-direction: row;
}
.social-media{
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
}
.social-icons{
  width: 60px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-self: center;
}

/*map*/
.map{
  width: 425px;
  height:425px;
}